<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a mat-icon-button routerLink="/contacts">
        <mat-icon>arrow_back</mat-icon>
      </a>
      Create New Contact
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">

  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <!-- form should come-->

      

      <!-- step 4: patch up the TS FormGroup with html -->
      <form class="contact-form" [formGroup]="contactForm">
        <span *ngIf="isSaved">
          Saved Successfully
        </span>
        <mat-form-field class="contact-fields-full-width">
          <!-- step 5: patch up the TS formControl with input elements-->
          <input matInput formControlName="name"
          placeholder="Enter Name" required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="contact-fields-full-width">
          <input matInput type="email" formControlName="email"
          placeholder="Enter E-Mail" required>
          <mat-error>This field is required</mat-error>
          <!-- <mat-error *ngIf="contactForm.email?.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="contact-fields-full-width">
          <input matInput formControlName="phone"
          placeholder="Enter Phone" required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="accent" 
        (click)="onCreateContact()">Create Contact</button>
      </form>

    </mat-grid-tile>
  </mat-grid-list>




</div>