<mat-toolbar color="primary" 
class="mat-toolbar-header mat-elevation-z24">
  <span>Contact Manager</span>
  <span class="header-spacer"></span>
  <div>
    <a mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button routerLink="/demo">Material Demo</a>
    <a mat-button routerLink="/contacts">Contacts</a>
    <button mat-button>About</button>

    <span class="auth-btns">
      <button mat-raised-button color="accent">
        <mat-icon>lock_open</mat-icon> Sign in
      </button>
      <button mat-raised-button color="accent">
        <mat-icon>account_circle</mat-icon> Sign up</button>
    </span>
  </div>

</mat-toolbar>